<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="https://rawgit.com/michaelgrotton/TheTribune/gh-pages/css/tribune.css">
  <title>The Tribune</title>
</head>
<body>
  <div id="Top">
    <div id="logo">
      <img id="pic" src="https://rawgit.com/michaelgrotton/TheTribune/gh-pages/TheTribune.png">
    </div>
  </div>
  
  <div id="main">
    <p id="title">Colorado Rep. Dan Pabon arrested for DUI on St. Patrick's Day in Denver</p>
    <p id="reporter">MELANIE SIMMONS, <i>Staff Writer</i> </p>
    <p id="date">NOVEMBER 7, 2016 | DENVER,CO </p>
  </div>
  
  <div id="main2">
    <p id="content" class="text">DENVER - A Colorado state representative was arrested for DUI on St. Patrick's Day in Denver. 
      Dan Pabon, D-Denver, represents District 4, which encompasses Northwest Denver.<br><br>
    Police arrested Dan Pabon around 11:40 p.m. Thursday, near West Colfax Avenue and Glenarm Place, 
      said Raquel Lopez with Denver Police. That is about six blocks from the Capitol. According to the probable cause 
      statement, Pabon’s speech was slurred and he was mumbling. His breath had a “strong odor of an unknown 
      alcoholic beverage” and he was swaying and staggering. He failed field sobriety tests and was transported to 
      Denver Health Medical Center for a blood test where the results are still pending. Pabon has no prior DUI convictions 
      and he was processed and released to a sober person.<br><br>
    On Friday, Pabon released the following statement: "On the evening of March 17th, I was pulled over 
      by a member of the Denver Police Department. I fully cooperated with the officer's requests. And I will continue 
      to remain fully cooperative throughout this process. I regret the distress this has caused my family, my friends 
      and my constituents." Rep. Pabon has served since 2011. Pabon is currently the State House Speaker Pro Tempore.<br><br>
    He's also the captain of the House's "beer caucus." Some of those members were at the Governor's 
      Mansion for a tasting event Thursday night, but the group who put on the event couldn't confirm if Pabon was 
      there  -- but they told Denver7 over the phone the party ended well before 11 p.m. "It was a short event, it was 
      over by 7 p.m. and 1 ounce servings were offered to local legislators," said Steve Kurowski Operations Director 
      for the Colorado Brewers Guild. Ironically, Rep. Pabon also recently sponsored legislation that requires convicted 
      drunk drivers to go before a DUI Victim Impact Panel.<br><br>
    </p>
  </div>
</body>
</html>
