body{
  background-color:white;
}


#Top {
  background-color:black;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  margin-bottom:15px;
  z-index:1;
  padding:0;
  height:90px;
  text-align:center;
}

#logo {
  border:solid 1px whitesmoke;
  color:whitesmoke;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  font-variant:small-caps;
  font-size:50px;
  line-height:60px;
  display:inline-block;
  margin-top:13px;
  padding-left:10px;
  padding-right:10px;
}

#name {
  font-family:"Helvetica", sans-serif;
  font-weight:300;
  font-variant:small-caps;
  font-size:30px;
  color:white;
  margin-left:10px;
}

#main {
  margin-top:125px;
  margin-right:50px;
  margin-left:50px;
}

#title {
  margin-top:15px;
  font-family:"Helvetica",Sans-serif;
  font-size:50px;
  margin-bottom:30px;
  text-align:left;
  font-family: Georgia, Times, "Times New Roman", serif;
}

#reporter{
  text-align:left;
  color:black;
  font-family: font-family: Futura, "Trebuchet MS", Arial, sans-serif;
}

#date{
  text-align:left;
  color:b;
  font-family: font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  font-size:12px;
}


#main2{
  margin-right:75px;
  margin-left:75px;
}

.text{
  font-family: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
  line-height:20px;
  letter-spacing:.5px;
  font-size:17px;
}

#bottom1 {
  height:5px;
  width:100%;
  border-top:solid 1px grey;
  border-bottom:dashed 1px grey;
}

#bottom2 {
  height:5px;
  width:100%;
  border-top:dashed 1px grey;
  border-bottom:solid 1px grey;
}

@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: none;
  }
  .text{
    font-size:25px;
    line-height:2.0;
  }
  #main2{
    line-height:2.0;
  }
}
