<!DOCTYPE html>
<html>
<head>
   <link rel="stylesheet" type="text/css" href="https://rawgit.com/michaelgrotton/TheEnquirer/gh-pages/css/enquirer.css">
  <title>The Enquirer</title>
</head>
<body>
  
  <div id="header">
    <img src="https://rawgit.com/michaelgrotton/TheEnquirer/gh-pages/ActionInk.png" style="width:250px;height:175px">
  </div>
  <div id="divider">
  </div>
  
  <div id="article">
    <p id="title">Senator Scott Bennett to serve food at Daily Bread Soup Kitchen</p>
  </div>
  
  <div id="author">
    <p id="name" class="letters">Edmund Isaacson</p>
    <p id="position" class="letters"><i>Staff Writer</i></p>
  </div>

  <div id="writing">
    <p id="content">CHAMPAIGN– To raise awareness about the importance of community food pantries and soup kitchens, Senator Scott Bennett (D-Champaign) will be 
       serving lunch at the Daily Bread Soup Kitchen. This isn’t a first time occurrence for Senator Bennett. He often attends the Daily Bread Soup 
       kitchen to provide whatever help is necessary. Senator Bennett said, “I realize I have been blessed in my life, and this is just one way for me 
       to give back to my community.”<br><br>
       Bennett is currently participating in the SNAP Challenge to experience what life is like for millions of low-income Americans living on an average
       daily allowance of $4.40. However, often due to stigma surrounding soup kitchens, many Americans don’t often seek out the help they can receive due 
       to pride or other personal reasons. Senator Bennett advocates on a large scale to other communities to reduce this stigma as it is there to benefit 
       all those in need of a hot meal. Regardless of the stigma, with the recent market and prices of food and gas ever increasing, more and more Americans 
       are relying on soup kitchens to provide nourishment for their day. Senator Bennett said “many of our neighbors are experiencing difficult times and 
       rely on area soup kitchens to receive a decent meal.” Even with all of Senator Bennett’s effort, due to the budget impasse, soup kitchens in Champaign-Urbana 
       area are left no choice but to close their doors. The Daily Bread Soup Kitchen will be attempting to serve additional families without additional funding. 
       This news comes in light of the Daily Bread Soup Kitchen’s recent purchase of a new facility to allow them to serve more residents. However, they still need 
       to raise $300,000 for renovation costs. Senator Bennett is looking into setting up a fundraiser to help diminish the costs. </p>
  </div> 
  <div id="divider">
  </div>
</body>
</html>
