<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
	<div class="page-header">
		<h1>Search Engine</h1>
	</div>
	<% @articles.each do |article| %>
		<h2><%= link_to "#{article.title}", title_path(article.index, rand_index: article.rand_index, subj_id: @subj_id, cond: @cond) %></h2>
		<p id="snippet"><%= article.text[0..article.text.index('.')] + "..." %></p>
	<% end %>
	<hr></hr>
	<% if @page == 1 %>
		<%= link_to 'Next page', search_path(2, p: 2, q: @query, c: @cond, subj_id: @subj_id), id: "nextPage" %>
	<% end %>
	<% if @page == 2 %>
		<%= link_to 'Go back', search_path(1, p: 1, q: @query, c: @cond, subj_id: @subj_id), id: "goBack" %>
	<% end %>
</body>

<script type="text/javascript">
	var start = Date.now();
	$('a').click(function(event){
		var id = gon.subjId;
		var condition = gon.cond;

		$.post('/log', {subj_id: id, cond: condition, article: {index: 0, rand_index: 0, time_spent: Date.now()-start}},
			function(response) {
		});
	});
</script>

<style>
	h1 {
		text-align: center;
	}
	h2, #snippet {
		text-align: left;
		margin-left: 30px;
	}
	#snippet {
		margin-left: 30px;
	}
	h2, h2:hover, h2:focus {
		color: blue;
	}
	#nextPage {
		float: right;
		margin-bottom: 10px;
		margin-right: 10px;
	}	
	#goBack {
		float: left;
		margin-bottom: 10px;
		margin-left: 10px;
	}
</style>