<body>
	<div class="page-header">
		<h1>Search Engine</h1>
	</div>
	<% @articles.each do |article| %>
		<h2><%= link_to "#{article.title}", title_path(article.index, rand_index: article.rand_index, subj_id: @subj_id, cond: @cond) %></h2>
		<p><%= article.text[0..article.text.index('.')] + "..." %></p>
	<% end %>
</body>

<script type="text/javascript">
	var start = Date.now();
	$('a').click(function(event){
		var id = gon.subjId;

		$.post('/log', {subj_id: id, article: {index: 0, rand_index: 0, time_spent: Date.now()-start}},
			function(response) {
		});
	});
</script>

<style>
	h1 {
		text-align: center;
	}
	h2, p {
		text-align: left;
		margin-left: 30px;
	}
	p {
		margin-left: 45px;
	}
	h2, h2:hover, h2:focus {
		color: blue;
	}	
</style>