<head>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<% case @article.template %>
<% when -1 %>

  <body>
	 <h1><%= @article.title %></h1>
	 <p><%= @article.text %></p>
  </body>

  <style>
    h1 {
      text-align: center;
      font-size: 35px;
      margin-bottom: 50px;
      margin-left: 20px;
      margin-right: 20px;
    }
    p {
      font-size: 20px;
      margin-left: 25px;
      margin-right: 25px;
    }
  </style>

<% when 1...15 %>

  <%= @content.html_safe %>

<% end %>

<script type="text/javascript">

  $(document).ready(function() {
    var start = Date.now();

    var id = gon.subjId;
    var rand_index = gon.randIndex;
    var index = gon.index;

    console.log('showing article ' + index + ' at index ' + rand_index + ' for ' + id);

    function logVisit() {
      console.log('logging visit');
      
      $.post('/log', {subj_id: id, article: {index: index, rand_index: rand_index, time_spent: Date.now()-start}},
        function(response) {
      });
      document.removeEventListener('turbolinks:before-cache', logVisit);
    }

    document.addEventListener('turbolinks:before-cache', logVisit);
  });
</script>