<head>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="https://rawgit.com/michaelgrotton/TheBusinessJournal/gh-pages/css/journal.css">
    <title>The Business Journal</title>
  </head>
  <body>
    <div id="Top">
      <p id="name">The Business Journal</p>
    </div>
    
    <div id="main">
      <p id="title">The story of an Arkansas politician who gave away his adopted child, 
        and the tragedy that followed</p>
      <p id="reporter">CHRISTOPHER LEWIS, <i>Staff Writer</i> </p>
      <p id="date">NOVEMBER 6, 2016 | ARKANSAS</p>
    </div>
    
    <div id="main2">
      <p id="content" class="text">The sisters were supposed to be moving out of neglect and chaos and into the stability of 
        their forever home. For one of those girls, however, Arkansas Rep. Justin Harris’s house came to 
        represent something very different: a temporary stopping point on the way to some place much worse.<br><br>
      A series of stories by the Arkansas Times revealed that Harris put two young girls he adopted in 
        the care of a man who later sexually abused one of them.<br><br>
      More shocking still: What Harris did, unofficially giving away an adopted child, is not illegal 
        in Arkansas. It is known as “rehoming,” a name that describes a practice more common in pet adoption. 
        The practice is highly controversial — “a monstrous act,” according to adoption advocate John M. Simmons. 
        “There’s probably no greater trauma than thinking you have found a forever family and finding that’s not 
        the case,” said Sandy Santana, interim executive director of Children’s Rights.<br><br>
      Harris placed the blame on the state health services department, which, he said, refused to help. 
        State officials also did not act when they learned that the Harris’ had given the girls to another family, 
        according to the Times, until it was too late. Harris said after harming family pets and threats to hurt 
        the family including his three adopted sons, he again reached out to DHS for help, and where he said “we 
        were then threatened with possible abandonment charges and potentially losing our own boys,” Harris said. 
        So he took action and rehomed the girls to Stacey Francis, one of Mrs. Harris’ friends. Eric Francis 
        husband of Stacey, would later would be served forty years for raping one of the girls while she was out 
        of town. Adoption advocates are trying to outlaw rehoming in all states to avoid these events from occurring.<br><br>
      </p>
    </div>
  </body>
  <%= javascript_include_tag 'DisplayTimer' %>