<head>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="https://rawgit.com/michaelgrotton/searchEngineSites/master/TheGazette/css/gazette.css">
    <title>The Gazette</title>
  </head>
  <body>
    <div id="Top">
      <div id="logo">
        The Gazette
      </div>
    </div>
    
    <div id="main">
      <div id="bottom1"></div>
      <p id="title">Gov. Bill Haslam donating $4.5 million per year to charitable foundations
  </p>
      <p id="reporter"> By: MAGGIE HAMILTON &nbsp<span style="color:gray;font-style:italic;" >Nov. 5</span></p>
      <p id="date"></p>
      <div id="bottom2"></div>
    </div>
    
    <div id="main2">
      <p id="content" class="text">NASHVILLE — Over a 10-year period, Bill Haslam has contributed more than $45 million to two 
        charitable foundations that, in turn, have donated almost $25 million to hundreds of organizations promoting 
        education, religion and culture.<br><br>
      The average of $4.5 million per year in combined donations to Charis Foundation, established 
        by Haslam and his wife in 2001, and the Haslam Family Foundation, established by his father in 1998, dwarfs 
        the $690,000 in average annual charitable giving separately reported by Haslam as a candidate for governor 
        two years ago.<br><br>
      Combined, the two foundations have accumulated about $100 million in assets through Haslam 
        donations and investing. That means a store of funds for giving to charities far into the future.<br><br>
     "We've obviously been blessed. Part of what goes with that is a responsibility to be generous," 
        said the Haslam in an interview last week.  <br><br>
      Such foundations provide tax advantages to wealthy persons with philanthropic inclinations, 
        according to Beverly Moran, a Vanderbilt University professor of law. "You and I do not get a deduction 
        for money given to charity until it's actually given to the charity," she said. "One of the big advantages 
        of a foundation is that you can get a deduction now for the donation you're going to make later." "You can 
        take the monies you do not need at the moment, but have decided where to put it, and get the tax deduction 
        now," she said. "We never give for tax purposes. We give for the purpose of giving," Jim Haslam said. 
        "Natalie (his wife) and I feel very strongly we have an obligation to give back to the community. 
        Once we pass on, we want to be able to perpetuate our giving back to the community," said the senior Haslam, 
        founder of a family-owned chain of gas stations and travel centers.<br><br>
      </p>
      
    </div>
  </body>
  <%= javascript_include_tag 'DisplayTimer' %>