<head>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="https://rawgit.com/michaelgrotton/searchEngineSites/master/TheUnionTimes/css/times.css">
    <title>The Union Times</title>
  </head>
  <body>
    <div id="Top">
        <p id="logowrite">The Union Times</p>
        <div id="bottom">
        </div>
    </div>
    
    <div id="main">
      <p id="title">Former Foster Kid Helps Students in Similar Situation Move Into College</p>
      <p id="reporter">FRANCIS HERTZ, Staff Writer </p>
      <p id="date"><i>NOVEMBER 5, 2016 -- Fresno, California</i></p>
      <div id="bottom2"></div>
    </div>
    
    <div id="main2">
      <p id="content" class="text">A recently released ad from Kleenex features John Hunt Jr., a graduate of California State University, 
        Fresno, returning to campus to welcome incoming students who’ve experienced homelessness and foster care.<br><br>
      Hunt, who had been in the foster system himself, explains in the heartwarming ad that he was 
        alone for his own college move-in because his guardians were in prison at the time. He didn’t want others in 
        similar situations to feel the way he did that day.<br><br>
      “Moving into the dorms and unpacking all my stuff alone and seeing other people with their families 
        ― it was tough for me because I would’ve loved to have my family there,” a teary-eyed Hunt said in the video. 
        “So that day, I vowed that I would help prevent people from having to move into the dorms alone.” So Hunt did just that.<br><br>
      Hunt works with the support program Renaissance Scholars, who warmly greeted students in a room filled 
        with college supplies. Others from the program were also there to help other former homeless or foster care students 
        for the special day.<br><br>   
      In the video of Hunt being recorded on university’s move-in day, the students are clearly emotional 
        when they check out the blankets, toiletries, notebooks and other items waiting for them. For the freshman, move-in 
        day is particularly special because their dorm serves as the “first home that some of them have had,” Hunt, 
        who’s now working toward a master’s degree, explained in the video. “To be able to say, ‘I’m going home,’ is 
        a big deal,” one student says. Hunt explains, “I am blessed to be able to give back and help these young students 
        who could have been like me. College is the time for growth and I believe starting everyone off on the right foot 
        makes a huge difference.”<br><br>
      </p>
    </div>
  </body>
  <%= javascript_include_tag 'DisplayTimer' %>