<head>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/michaelgrotton/zoominfo/gh-pages/css/zoom.css">
    <title>Zoominfo</title>
  </head>
  <body>
    <div id="top">
      <p id="logo">zoominfo</p>
    </div>
    
    <div id="main">
      <p id="name" class="text"><b>John Smith</b></p>
      <script type="text/javascript">
        document.getElementById('name').innerHTML = gon.cand; 
      </script>
      <div id="pic">
        <img src="http://www.sitm.ac.in/assets/faculty/exefaculty/blank-profile.png"
             style="width:210px;height:225px;">
      </div>
      <div id="infoleft">
        <p class="text"><b>Description</b></p>
        <p class="text">Singer songwriter offers
          cds and samples of acoustic folk music, along with touring 
          schedule and booking info
        </p>
        <script type="text/javascript">
          document.getElementById('text').innerHTML = "Singer songwriter" + gon.cand + "offers cds and samples of acoustic folk music, along with touring schedule and booking info"; 
        </script>
      </div>
      
      <div id="inforight">
        <p class="text">24721 2Nd St</p>
        <p class="text">Trempealeau, Wisconsin 54661</p>
        <p class="text">P:</p>
        <p class="text">F:</p>
        <p class="text">www.johnsmusic.com</p>
      </div>
    </div>
  </body>
  <%= javascript_include_tag 'DisplayTimer' %>