#Top {
  background-color:black;
  position:fixed;
  top:0;
  left:0;
  width:100%;
  margin-bottom:15px;
  z-index:1;
  margin:auto;
  height:100px;
}

#pic {
  margin-top:0;
  margin:auto;
  width:250px;
  height:150px;
}

#logo {
  margin-top:0;
  margin:0 auto;
  padding:0;
  margin:auto;
}


#name {
  font-family:"Helvetica", sans-serif;
  font-weight:300;
  font-variant:small-caps;
  font-size:30px;
  color:white;
  margin-left:10px;
}

#main {
  margin-top:125px;
  margin-right:50px;
  margin-left:50px;
  border-bottom:solid black 1px;
}

#title {
  font-family:"Helvetica",Sans-serif;
  font-size:50px;
  margin-bottom:30px;
  text-align:center;
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

#reporter{
  text-align:center;
  color:grey;
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}

#date{
  text-align:center;
  color:grey;
  font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
  font-size:12px;
}


#main2{
  margin-top:25px;
  margin-right:75px;
  margin-left:75px;
}

.text{
  font-family:"Helvetica",Sans-serif;
  line-height:20px;
  letter-spacing:.5px;
  font-size:17px;
}

@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: none;
  }
  .text{
    font-size:25px;
    line-height:2.0;
  }
  #main2{
    line-height:2.0;
  }
}
