body {
  width:100%;
  height:100%;
  background-color:whitesmoke;
  text-align:center;
  
}

#header {
  margin:auto;
  display:inline-block;
}

#divider{
  margin-top:15px;
  width:100%;
  height:10px;
  background-color:lightgray;
  margin-left:0;
  margin-right:0;
  margin-bottom:15px;
}

.letters {
  font-family:Baskerville,"Baskerville Old Face";
}

#author {
  margin:auto;
  margin-bottom:15px;
  width:150px;
  border-top:2px solid black;
  border-bottom:2px solid black;
  
}

#name, #position {
  line-height:0px;
}

#article {
  margin-top:50px;
  margin-bottom:25px;
  text-align:center;
}

#title{
  font-family:"Sans-serif", Candara;
  font-size:50px;
}

#writing{
  border-radius:5px;
  width:70%;
  margin:auto;
  background-color:white;
  padding:15px;
  text-align:left;
  font-size:20px;
  line-height:25px;
  font-family:Baskerville,"Baskerville Old Face";
}

@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: none;
  }
  #writing{
    font-size:25px;
  }
  #main2{
    line-height:2.0;
  }
}
