body {
  margin:0;
  padding:0;
}

#top {
  width:100%;
  background-color:whitesmoke;
  height:50px;
  margin-top:0px;
  top:0;
}

#title {
  line-height:50px;
  font-size:40px;
  margin-top:auto;
  text-align:center;
  font-family: "Courier New",Courier,"Lucida Sans Typewriter","Lucida Typewriter",monospace;
  color:purple;
}

#prompt {
  font-family: "Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Arial,sans-serif;
  font-size:25px;
  text-align:center;
}

#container {
  background-color:whitesmoke;
  width:90%;
  margin:auto;
  margin-top:20px;
  border-radius:3px;
  padding:15px;
}

#check1 {
  background-color:lightgray;
  width:95%;
  height:230px;
  margin:auto;
  padding:5px;
  
}

#check2 {
  background-color:lightgray;
  width:95%;
  height:230px;
  margin:auto;
  margin-top:15px;
  padding:5px;
}

.text {
  font-family: "Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Arial,sans-serif;
}

#ps{
  margin:0;
  text-align:center;
  color:purple;
  font-size:19px;
  margin-bottom:5px;
}

#psp{
  margin:0;
  text-align:center;
  color:purple;
  font-size:19px;
  margin-bottom:5px;
}

#contintro1{
  margin:auto;
  border-top:1px solid grey;
  border-bottom:1px solid grey;
  width:90%;
  height:19px;
  padding:2px;
}

#contintro2{
  margin:auto;
  border-top:1px solid grey;
  border-bottom:1px solid grey;
  width:90%;
  height:19px;
  padding:2px;
}

#intro1{
  line-height:15px;
  margin:0;
  text-align:center;
  color:grey;
}

#intro2{
  line-height:15px;
  margin:0;
  text-align:center;
  color:grey;
}

#info {
  list-style-image: url("http://image.flaticon.com/icons/svg/126/126474.svg");
}

#red {
  width:200px;
  margin:auto;
}

#blue {
  width:200px;
  margin:auto;
}
