#logo {
  font-family: "Arial Rounded MT Bold","Helvetica Rounded",Arial,sans-serif;
  color:grey;
}

#top {
  border-bottom:solid lightgray 1px;
  margin-bottom:50px;
}

#header {
  font-family: "Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Arial,sans-serif;
  font-size:30px;
  text-align:center;
}

#profile{
  text-align:center;
}

#name{
  text-align:center;
  font-family: "Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Arial,sans-serif;
}

.text {
  font-family: "Franklin Gothic Medium","Franklin Gothic","ITC Franklin Gothic",Arial,sans-serif;
}

#report {
  color:white;
  text-align:center;
  font-size:14px;
  line-height:40px;
}

#continue {
  background-color:mediumseagreen;
  border-radius:2px;
  width:85%;
  text-align:center;
  margin:auto;
  height:40px;
  margin-bottom:25px;
}

#info {
  list-style-image: url("http://image.flaticon.com/icons/svg/126/126474.svg");
  
}

#red {
  width:200px;
  margin:auto;
  
}

#hey{
  text-align:center;
}

#copyright{
  margin-top:100px;
  color:lightgray;
  text-align:center;
  font-size:13px;
}

@media screen and (max-device-width: 480px){
  body{
    -webkit-text-size-adjust: none;
  }
}